@* Generator : Template TypeVisibility : Internal *@
@functions {

    public dynamic Model { get; set; }

}
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <title>Тестовая страница</title>
    </head>
    <body>
        <center><em>@Model.hello</em></center>
    </body>
</html>